<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${msg}"></h1>
    <h1 th:text="${user.name}"></h1>
    <h1 th:text="${user.email}"></h1>
    <h1 th:text="${user.age}"></h1>


    <div th:object="${user}">
        <h1 th:text="*{name}"></h1>
        <h1 th:text="*{email}"></h1>
        <h1 th:text="*{age}"></h1>
    </div>
    <div>
        <a href="http://localhost:8081/springboot/boot/index">查看</a>
        <a th:href="@{'http://localhost:8081/springboot/boot/index?age='+${user.age}+'&name='+${user.name}}">查看</a>
        <a th:href="@{|http://localhost:8081/springboot/boot/index?age=${user.age}&name=${user.name}|}">查看</a>
        <br />
        <a th:href="@{'boot/index?age='+${user.age}+'&name='+${user.name}}">查看</a>
        <a th:href="@{'/boot/index?age='+${user.age}+'&name='+${user.name}}">查看</a>
    </div>
    <div>
        <form id="login" th:action="@{/boot/login}">
            ...
        </form>
        <form id="login" action="/boot/login">
            ...
        </form>
    </div>
    <div>
        <h1>th:each</h1>
        <p th:each="user:${userList}">
            <span th:text="${user.name}"></span>
            <span th:text="${user.email}"></span>
            <span th:text="${user.age}"></span>
        </p>
    </div>
</body>
</html>